/* Reset css */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-third {
    width: calc(100%/3);
}
.col-half {
    width: 50%;
}
.col-full {
    width: 100%;
}
.text-center {
    text-align: center !important;
}

#main {
    overflow: hidden;
}
.contact-content {
    padding: 32px 0;
}
.contact-info {
    font-size: 18px;
    line-height: 1.5;
}
.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}
.contact-form {
    font-size: 15px;
}
.contact-form .form-control {
    padding: 12px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.form-submit {
    background-color: #000;
    color: #fff;
    padding: 9px 18px;
    float: right;
    margin-top: 12px;
    border: none;
}
.form-submit:hover {
    background-color: #bebebe;
    color: #000;
    cursor: pointer;
}
html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif; 
}

#header {
    overflow: hidden;
    height: 46px;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    position: fixed;    
    z-index: 100;

}
#nav {
    display: inline-block;
}
#nav, .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
    color: #fff;
    position: relative;
}
#nav > li > a {
    color: #fff; 
    text-transform: uppercase;
}
#nav  li  a {
    text-decoration: none;
    line-height: 46px;
    padding: 0px 24px;
    display: block;
}
#nav .subnav li:hover a, 
#nav > li:hover > a {
    color: #000;
    background-color: rgb(219, 219, 219);  
}
#nav li:hover .subnav {
    display: block;
}
#nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#nav .subnav li a {
    color: black;
    display: block;
    padding: 0px 12px;
    line-height: 36px;
    min-width: 150px;
}
#icon-arrow {
    line-height: 46px;
    font-size: 14px;
}
#header #mobile-menu,
#header .ti-search {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 46px;
    padding: 0px 24px;
    font-size: 12px;
    color: #fff;
}
#header .ti-menu {
    display: none;
}
#header .ti-menu:hover {
    background-color: #ccc;
    color: #000;
}
#header .ti-search:hover {
    background-color: red;
    cursor: pointer;
}

#main {
    
}
#slider {

    margin-top: 46px;
    padding-top: 50%;
    background: url('../img/slider/ny.jpg') top center / cover no-repeat;
    overflow: hidden;
    position: relative;
     
}
#slider .text-content {
    position: absolute;
    bottom: 46px;
    color: #fff;
    text-align: center;
    width: 100%;
    font-size: medium;
}
#slider .text-heading {
    font-weight: 300;
    
}
#slider .text {
    font-weight: 600;
    margin-top: 20px;
    
}
#content {
    

}
#content .content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto; 
    padding: 64px 16px 112px;
    
}
#content .content-heading {
    margin-top: 25px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 4px;
    margin-bottom: 30px;
}
#content .content-slogan {
    text-align: center;
    opacity: 0.6;
    font-style: italic;
    margin: 15px 0; 
}
#content .content-text {
    text-align: justify;
    line-height: 1.5;
    font-size: 15px;
    
}
#content .members-list {
    margin-top: 46px;
    
}

#content .member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 5px;
}
#content .members-name {
    font-size: 15px;
}
#content .tour-section {
    background-color: #000;
    color: #fff;
}
.tickets-list {
    background-color: #fff;
    margin-top: 40px;
    list-style-type: none; 
}
.tickets-list li {
    padding: 11px 16px;
    border-bottom: 2px solid #ddd; 
    color: #757575;
    font-size: 15px;
}
.tickets-list .sold-out {
    background-color: red;
    color: #fff;
    padding: 3px 4px;
    margin-left: 16px;
}
.tickets-list .quantity {
    border-radius: 50%;
    width: 24px;
    float: right;
    height: 24px;
    background-color: #000;
    text-align: center;
    line-height: 24px;
    color: #fff;
    margin-top: -4px;
}
.places-list {
    
    margin-top: 32px;
}

.place-img {
    width: 100%;
    display: block;
}
.place-img:hover {
    opacity: 0.6;
}
.place-content {
    background-color: #fff;
    color: #000;
    padding: 0 16px;
    line-height: 1.5;
    padding-bottom: 20px;
}
.place-heading {
    padding-top: 15px;
    font-weight: 600;
}
.place-time {
    margin: 15px 0;
    opacity: 0.6;
}
.place-description {
    margin-bottom: 20px;
}
.buy-tickets {
    padding: 10px 16px;
    margin: 16px 0px;
    text-align: center;
    background-color: #000;
    text-decoration: none;
    color: #fff;
}
.buy-tickets:hover {
    background-color: #c7c6c6;
    color: #000;
}
.map img {
    width: 100%;
}
#footer {
    width: 100%;
    text-align: center;
    margin: 64px 16px;
    color: #000;
}
.social-network a {
    text-decoration: none;
    font-size:x-large; 
    color: #000;
    opacity: 0.6;
}
.social-network a:hover {
    opacity: 0.4;
}
.copyright {
    margin: 15px 0;
    opacity: 0.6;    
}
.copyright a {
    color: #000;
}
